h1 {
   color: red;
   text-align: center;
   font-size: 60pt;
}

#main {
    float: left;
}

.card {
    float: left;
    height: 240px;
    width: 170px;
    background-image: url(/BlackJack/images/cards/Clubs/Ace.jpg);
}

#control {
    margin-left: 50px;
    text-align: center;
    float: left;
    margin-right: 100px;
}

#control button {
    height: 90px;
    width: 150px;
    margin: 10px 0px 10px 0px;
    font-size: 30pt;
}


#cards {
    float: right;
}