h1 {
   text-align: center;
   font-size: 60pt;
}

.card {
    float: left;
    height: 240px;
    width: 170px;
    background-image: url(/BlackJack/images/stick_small.jpg);
}

#main, #players-container, #control-container  {
    float: left;
}

#host, #cetera {
    height: 400px;
    width: 1080px;
}

#players, #host, #status-container {
    float: right;
}

#players {
    margin-left: 74px;
}


.sidebar-nav-fixed {
    position:fixed;
}

.sidebar-score-fixed {
    position:fixed;
    width: 270px;
}